<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue js</title>
        <script src="vue.js" ></script>
    </head>
    <body>
        <div id="app">
            <div>
                <form v-on:submit.prevent="handleForm">
                    <label>First Naame:</label>
                    <input type="text" v-model="formData.firstName">
                    <br><br>

                    <label>Last Naame:</label>
                    <input type="text" v-model="formData.lastName">
                    <br><br>

                    <button type="submit" >Submit</button>
                </form>
            </div>
        </div>

        <script src="app.js" ></script>
    </body>

</html> 