<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
    <script src="vue.js" ></script>
</head>
<body>
    <div id="app">
        <!-- <p v-if="userAge>=allowedAge" > -->
            <p v-if="changeuser()" ></p>
            <strong style='color: rgb(119, 32, 136)' >
                Hay Luffy... Conditional Rendering Message Success
            </strong>
        </p>
        <p v-else-if="user==='Luffy'" >
            <strong style='color: green' >
                Conditional Rendering Message Success
            </strong>
        </p>
        <!-- <h1>Pakhi</h1> 
        <h2 style='color: rgb(194, 50, 31)'>
            This is giving error for Conditional Rendering check console log
        </h2>  -->
        <p v-else="userAge>=allowedAge" >
            <strong style='color: rgb(240, 188, 46)' >
                Conditional Rendering Message Went Wrong
            </strong>
        </p>
    </div>

    <script src="app.js" ></script>
</body>
</html>